h1{
    color:rgb(107, 5, 5);
    margin-left: 30px;
}

p {
    font-size: 25px
}

div.buttons{
    width: 300px;
    height: 300px;
    border-style: dotted solid double
}

button {
 display: inline-block;
 padding: 15px 25px;
 font-size: 24px;
 cursor: pointer;
 text-align: center;
 text-decoration: none;
 outline: none;
 color: #4c09eb;
 background-color: #ffffff;
 border: none;
 border-radius: 15px;
 box-shadow: 0 9px #4c09eb

}

button:hover{
    background-color: #4c09eb;
    
}

button:active{
    background-color: aqua;
    box-shadow: 0 5px #08050f;
    transform : translateY(4px)
}
